
html:not(.formsReady) [data-modal],
html:not(.formsReady) [data-confirm],
html:not(.formsReady) [data-post] {
    pointer-events: none;
    cursor: wait;
}

/* Alpine x-cloak */
[x-cloak] { display: none !important; }

input.is-invalid {

    @apply border-red-600 border-2 bg-red-200;
}